*.egg-info/
.tox
*.pstats
*.swp
.mypy_cache
__pycache__/
/docs/_build/
*.html
/psycopg_binary/
!/psycopg_binary/
/psycopg_binary/*
!/psycopg_binary/pyproject.toml
.vscode
.venv
.coverage
htmlcov
.idea

.eggs/
dist/
wheelhouse/
build/
scrap/
target/
.maturin/

target/
